// 自定义的公共样式类

.singleEllipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.multiEllipsis{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

