// 常用scss变量文件

/* 文字颜色 */
$insure-font-title: #394259;
$insure-font-subtitle: #7D8998;
$insure-font-content: #C2C7CE;
$insure-font-disabled: #D9DCE0;

/**/
$insure-font-333:#333333;
$insure-font-999:#999999;




/* 背景和描边 */
$insure-bg-line: #C2C7CE;
$insure-bg-color: #f0f0fa;
$insure-bg-color2: #FFFFFF;

/* 主色 */
$insure-color-theme: #F2C53D;
$insure-color-assist: #FC5B7D;

/* 反馈 */
$insure-tips-success: #3EB13C;
$insure-tips-error: #D50000;
$insure-tips-warning: #F5A623;

/* 文字 */

$insure-fontsize-title:48px;

$insure-fontsize-subtitle:36px;

$insure-fontsize-navtitle:34px;

$insure-fontsize-content:32px;

$insure-fontsize-component:30px;

$insure-fontsize-inputtitle:28px;

$insure-fontsize-subcontent:24px;

$insure-fontsize-subcontent22:22px;

$insure-fontsize-subcontent20:20px;

$insure-fontsize-minicontent:18px;

$insure-fontsize-sminicontent16:16px;

$insure-fontsize-sminicontent:14px;

$insure-fontsize-sminicontent12:12px;

// 一些尺寸
$insure-content-width:910px;

$insure-min-width:1180px;